html {
  scroll-behavior: smooth;
}

body {
  color: #666666;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.80857;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  font-weight: normal;
  line-height: normal;
  color: #111111;
  margin: 0
}

h1 {
  font-size: 3vw;
  color: white;
  text-align: center;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
  text-align: center;
}

ul,
li,
ol {
  margin: 3px;
  padding: 0px;
  list-style: none;
}

p {
  margin: 0px;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
}

.title {
  font-size: 60px;
  color: rgb(17, 75, 161);
  font-family: 'Pacifico', sans-serif;
}

label {
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(17, 75, 161);
}

.link {
  float: left;
}

.link a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.link a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #576064;
}

.info_column {
  box-sizing: border-box;
  float: left;
  width: 33%;
  padding: 5px;
  margin: 2px;
  height: 500px;
  text-align: center;
  /*background-color: teal;*/
}

.info:after {
  content: "";
  display: table;
  clear: both;
}

#map {
  height: 50vh;
  width: 30vw;
  margin: 5px 0px;
}

.contact {
  margin: 5px auto 0px;
  position: relative;
}

.text-block {
  position: absolute;
  background-color: rgba(0,33,69,0.6);
  display: block;
  color: white;
  z-index: 2;
  padding: 1% 1% 1% 14.5%;
  bottom: 5%;
  height: 10%;
  display: inline;
}

.container {
  margin-left: 0;
  margin-right: 0;
  width: auto;
}

.float-child-left {
  width: 35%;
  float: left;
}  

.float-child-right {
  width: 65%;
  float: left;
} 