<!DOCTYPE html>
<html>

<head>
    <title>AH University - Add New Students</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    <!-- page header placeholder-->
    <div id="header"></div>

    <!-- navbar placeholder-->
    <div id="navbar"></div>

    <h3>Add New Students</h3>
    
    <div class="forms">
        <form method="post">
            <fieldset>
                <legend>Enroll in a Campus</legend>
                    <label>First Name:
                        <input type="text" name="first_name" id="first_name">
                    </label>
                    <label>Last Name:
                        <input type="text" name="last_name" id="last_name">
                    </label>
                    <label>Choose a campus:</label>
                    {% for campus in campuses %}
                    {% set name = campus.campus_name %}
                    <input type="radio" name="campus" id="campus_"+{{name}} value={{name}} required>
                    <label for="campus_"+{{name}}>{{name}}</label>
                    {% endfor %}
                <br>
                <input type="submit" id="student_post">
                <p>{{ post_message }}</p>
                <p>{{ delete_message }}</p>
            </fieldset>
        </form>
    </div>

    <!-- Page Footer Placeholder-->
    <div id="footer"></div>

    <!-- Javascript -->
    <script src="../static/header.js"></script>
    <script src="../static/nav.js"></script>
    <script src="../static/footer.js"></script>

</body>

</html>
