<!DOCTYPE html>
<html>

<head>
    <title>AH University - Add New Instructors</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    <!-- Page Header Placeholder-->
    <div id="header"></div>

    <!-- navbar placeholder-->
    <div id="navbar"></div>
    
    <h3>Add New instructors</h3>
    
    <!-- Form (Add Instructor) -->
    <div class="forms">
        <form method="post">
            <fieldset>
                <legend>Add a New Instructor</legend>
                <label>First Name:
                    <input type="text" name="instructor_first_name" id="instructor_first_name">
                </label>
                <label>Last Name:
                    <input type="text" name="instructor_last_name" id="instructor_last_name">
                </label>
                <br>
                <label>Choose a campus:</label>
                {% for campus in campuses %}
                {% set name = campus.campus_name %}
                <input type="radio" name="campus_name" id="campus_" +{{name}} value={{name}} required>
                <label for="campus_" +{{name}}>{{name}}</label>
                {% endfor %}
                <input type="radio" name="campus_name" id="campus_null" value="Unassigned">
                <label for="campus_null">Unassigned</label>
                <br>
                <input type="submit" id="instructor_post">
                <p>{{ post_message }}</p>
                <p>{{ delete_message }}</p>
            </fieldset>
        </form>
    </div>
 
    <!-- Page Footer Placeholder-->
    <div id="footer"></div>

    <!-- Javascript -->
    <script src="../static/header.js"></script>
    <script src="../static/nav.js"></script>
    <script src="../static/footer.js"></script>

</body>

</html>
