<!DOCTYPE html>
<html>

<head>
    <title>AH University</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    <!-- Page Header Placeholder-->
    <div id="header"></div>

    <div class="links">
        <ul class="nav">
            <li class="link"><a href="index.html">Home</a></li>
            <li class="link"><a href="students.html">Student Enrollment</a></li>
            <li class="link"><a href="sections.html">Section Registration</a></li>
            <li class="link"><a href="contact.html">Contact Us</a></li>
            <li class="link"><a class="active" href="campuses.html">Admin - Campus Management</a></li>
            <li class="link"><a href="courses.html">Admin - Course Management</a></li>
            <li class="link"><a href="instructors.html">Admin - Instructor Management</a></li>
        </ul>
    </div>

    <!-- Table -->
    <div id="campuses-container">
        <table id="campuses-table">
            <thead>
                <tr>
                    <th>Campus_ID</th>
                    <th>Campus_Name</th>
                    <th>Campus_City</th>
                    <th>Campus_Country</th>
                    <th>Campus_Online</th>
                </tr>
            </thead>
            <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item['campus_id'] }}</td>
                <td>{{ item['campus_name'] }}</td>
                <td>{{ item['campus_city'] }}</td>
                <td>{{ item['campus_country'] }}</td>
                <td>{{ item['campus_online'] }}</td>
                <td> <input type='button' name='delete' value='Delete' onclick="window.location='/delete-campus/{{ item['campus_id'] }}'"</td>
                <td> <input type='button' name='update' value='Update' onclick="window.location='/update-campus/{{ item['campus_id'] }}'"</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Form (Add Campus) -->
    <div class="campuses-forms">
        <form method="post">
            <fieldset>
                <legend>Add a New Campus</legend>
                <label>Campus Name:
                    <input type="text" name="campus_name" id="campus_name">
                </label>
                </br>
                <label>City:
                    <input type="text" name="campus_city" id="campus_city">
                </label></br>
                <label>Country:
                    <input type="text" name="campus_country" id="campus_country">
                </label>
                </br>
                <label>Online/Offline:
                    <input type="radio" name="campus_online" id="campus_online" value=TRUE required>
                    <label for="campus_online">E-Campus</label>
                    <input type="radio" name="campus_online" id="campus_offline" value=FALSE>
                    <label for="campus_offline">In-Person Campus</label>
                </label>
                <br>
                <input type="submit" id="campus_post">
                {{ post_message }}
            </fieldset>
        </form>
    </div>


    <!-- Page Footer Placeholder-->
    <div id="footer"></div>

    <!-- Javascript -->
    <script src="../static/header.js"></script>
    <script src="../static/footer.js"></script>
</body>

</html>