<!DOCTYPE html>
<html>

<head>
    <title>AH University</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    <!-- Page Header Placeholder-->
    <div id="header"></div>

    <!-- Note the hrefs linke to the previous directory-->
    <div class="links">
        <ul class="nav">
            <li class="link"><a href="../index.html">Home</a></li>
            <li class="link"><a href="../students.html">Student Enrollment</a></li>
            <li class="link"><a href="../sections.html">Section Registration</a></li>
            <li class="link"><a href="../contact.html">Contact Us</a></li>
            <li class="link"><a class="active" href="../campuses.html">Admin - Campus Management</a></li>
            <li class="link"><a href="../courses.html">Admin - Course Management</a></li>
            <li class="link"><a href="../instructors.html">Admin - Instructor Management</a></li>
        </ul>
    </div>

    <!-- Form (Update Campus) -->
    <div class="campuses-forms">
        <form method="post">
            <fieldset>
                <legend>Update a New Campus</legend>
                {% for item in items %}
                {% set name = item.campus_name %}
                {% set city = item.campus_city %}
                {% set country = item.campus_country %}
                <label>Campus Name:
                    <input type="text" name="campus_name" id="campus_name" value="{{name}}">
                </label>
                </br>
                <label>City:
                    <input type="text" name="campus_city" id="campus_city" value="{{city}}">
                </label></br>
                <label>Country:
                    <input type="text" name="campus_country" id="campus_country" value="{{country}}">
                </label>
                </br>
                <label>Online/Offline:
                    <input type="radio" name="campus_online" id="campus_online" value=TRUE required>
                    <label for="campus_online">E-Campus</label>
                    <input type="radio" name="campus_online" id="campus_online" value=FALSE>
                    <label for="campus_offline">In-Person Campus</label>
                </label>
                <br>
                {% endfor %}
                <input type="submit" id="campus_post">
                {{ post_message }}
            </fieldset>
        </form>
    </div>


    <!-- Page Footer Placeholder-->
    <div id="footer"></div>

    <!-- Javascript -->
    <script src="../static/header.js"></script>
    <script src="../static/footer.js"></script>
</body>

</html>