<!DOCTYPE html>
<html>

<head>
    <title>AH University - List courses, Add new courses, Add new sections</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    <!-- page header placeholder-->
    <div id="header"></div>

    <div class="links">
        <ul class="nav">
            <li class="link"><a href="index.html">Home</a></li>
            <li class="link"><a href="students.html">Student Enrollment</a></li>
            <li class="link"><a href="sections.html">Section Registration</a></li>
            <li class="link"><a href="contact.html">Contact Us</a></li>
            <li class="link"><a href="campuses.html">Admin - Campus Management</a></li>
            <li class="link"><a class="active" href="courses.html">Admin - Course Management</a></li>
            <li class="link"><a href="instructors.html">Admin - Instructor Management</a></li>
        </ul>
    </div>

    <!-- Table -->
    <div id="courses-container">
        <table id="courses-table">
            <thead>
                <tr>
                    <th>Course_ID</th>
                    <th>Course_Name</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item['course_id'] }}</td>
                    <td>{{ item['course_name'] }}</td>
                    <td> <input type='button' name='delete' value='Delete'
                            onclick="window.location='/delete-campus/{{ item['course_id'] }}'"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Form (Add Course) -->
    <div class="courses-forms">
        <form method="post">
            <fieldset>
                <legend>Add a New Course</legend>
                <label>Course Name:
                    <input type="text" name="course_name" id="course_name">
                </label>
                </br>
                <input type="submit" id="course_post">
                {{ post_message }}
            </fieldset>
        </form>
    </div>

    <!-- Form (Add Section) -->
    <div class="sections-forms">
        <form method="post">
            <fieldset>
                <legend>Add a New Section</legend>
                <label>Course ID:
                    <input type="number" name="instructor_id" id="instructor_id">
                </label></br>
                <label>Instructor ID:
                    <input type="number" name="instructor_id" id="instructor_id">
                </label></br>
                <label>Campus ID:
                    <input type="number" name="campus_id" id="campus_id">
                </label></br>
                <label>Online/Offline:
                    <input type="radio" name="campus_online" id="campus_online" value="True">
                    <label for="campus_online">E-Campus</label>
                    <input type="radio" name="campus_online" id="campus_offline" value="False">
                    <label for="campus_offline">In-Person Campus</label>
                </label>
                </br>
                <input type="submit" id="section_post">
                {{ post_message }}
            </fieldset>
        </form>
    </div>



    <!-- page footer placeholder-->
    <div id="footer"></div>

    <!-- javascript -->
    <script src="../static/header.js"></script>
    <script src="../static/footer.js"></script>
</body>

</html>
