<table>
    <thead>
    <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->
        {% for key in courses[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>

    <!-- Now, iterate through every person in bsg_people -->
    {% for course in courses %}
    <tr>
        <!-- Then iterate through every key in the current person dictionary -->
        {% for key in course.keys() %}

        <!-- Create a <td> element with the value of that key in it -->
        <td>{{course[key]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>