<!DOCTYPE html>
<html>

<head>
    <title>AH University - Manage courses</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    <!-- page header placeholder-->
    <div id="header"></div>

    <div class="links">
        <ul class="nav">
            <li class="link"><a href="index.html">Home</a></li>
            <li class="link"><a href="students.html">Student Enrollment</a></li>
            <li class="link"><a href="sections.html">Section Registration</a></li>
            <li class="link"><a class="active" href="courses.html">Course Management</a></li>
            <li class="link"><a href="instructors.html">Instructor Management</a></li>
            <li class="link"><a href="campuses.html">Campus Management</a></li>
            <li class="link"><a href="contact.html">Contact Us</a></li>
        </ul>
    </div>
    
    <h4>*Manage courses: List all courses, Add/Delete courses, manage sections</h4>
    
    <!-- Form (Add Course) -->
    <div class="courses-forms">
        <form method="post">
            <fieldset>
                <legend>Add a New Course</legend>
                <label>Course Name:
                    <input type="text" name="course_name" id="course_name">
                </label>
                </br>
                <input type="submit" id="course_post">
                {{ post_message }}
            </fieldset>
        </form>
    </div>
    
    <!-- Table -->
    <div id="courses-container">        
        <table id="courses-table">
            <thead>
                <tr>
                    <th>Course_ID</th>
                    <th>Course_Name</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item['course_id'] }}</td>
                    <td>{{ item['course_name'] }}</td>
                    <td> <input type='button' name='delete' value='Delete'
                        onclick="window.location='/delete-course/{{ item['course_id'] }}'"></td>
                    <td><input type="button" name="manage_section" value="Manage Section"
                        onclick="window.location='/manage-section/{{ item['course_id'] }}'"/></td>
                </tr>
                {% endfor %}
                {{ delete_message }}
            </tbody>
        </table>
    </div>
    <br>

    <!-- page footer placeholder-->
    <div id="footer"></div>
    
    <!-- javascript -->
    <script src="../static/header.js"></script>
    <script src="../static/footer.js"></script>

</body>

</html>
