<!DOCTYPE html>
<html>
  <head>
    <title>AH University</title>
    <link rel="stylesheet" href="../static/css/main.css" />
  </head>
  <body>
    <!-- page header placeholder-->
    <div id="header"></div>

    <!-- navbar placeholder-->
    <div id="navbar"></div>

    <!-- page links -->
    <div class="entities">
      <div id="students">
        <a href="students.html">
          <img src="static/img/students_home.jpg">
        </a><br />
        <h4>Students</h4>
        <a href="students.html">View/Delete Students</a><br />
        <a href="add_students.html">Add New Students</a><br />
      </div>
      <div id="courses">
        <a href="courses.html">
          <img src="static/img/courses_home.jpg">
        </a><br />
        <h4>Courses</h4>
        <a href="courses.html">View/Delete Courses</a><br />
        <a href="add_courses.html">Add New Courses</a><br />
      </div>
      <div id="sections">
        <a href="sections.html">
          <img src="static/img/sections_home.jpg">
        </a><br />
        <h4>Sections</h4>
        <a href="sections.html">View/Search/Delete Sections</a><br />
        <a href="add_sections.html">Add New Sections</a><br />
        <a href="section_register.html">Section Registration</a><br />
      </div>
      <div id="instructors">
        <a href="instructors.html">
          <img src="static/img/instructors_home.jpg">
        </a><br />
        <h4>Instructors</h4>
        <a href="instructors.html">View/Delete Instructors</a><br />
        <a href="add_instructors.html">Add New Instructors</a><br />
      </div>
      <div id="campuses">
        <a href="campuses.html">
          <img src="static/img/campuses_home.jpg">
        </a><br />
        <h4>Campuses</h4>
        <a href="campuses.html">View/Delete Campuses</a><br />
        <a href="add_campuses.html">Add New Campuses</a><br />
      </div>
    </div>
    <!-- page footer placeholder-->
    <div id="footer"></div>

    <!-- javascript -->
    <script src="../static/header.js"></script>
    <script src="../static/nav.js"></script>
    <script src="../static/footer.js"></script>
  </body>
</html>
