<!DOCTYPE html>
<html>
  <head>
    <title>AH University</title>
    <link rel="stylesheet" href="../static/css/main.css" />
  </head>
  <body>

    <!-- page header placeholder-->
    <div id="header"></div>
        
    <!-- navbar placeholder-->
    <div id="navbar"></div>

    <!-- page links -->
    <div class="entities">
      <a href="students.html">View/Delete Students</a><br />
      <a href="add_students.html">Add New Students</a><br />
      <br />
    </div>
    <div class="entities">
      <a href="courses.html">View/Delete Courses</a><br />
      <a href="add_courses.html">Add New Courses</a><br />
      <br />
    </div>
    <div class="entities">
      <a href="sections.html">View/Search/Delete Sections</a><br />
      <a href="add_sections.html">Add New Sections</a><br />
      <a href="section_register.html">Section Registration</a><br />
      <br />
    </div>
    <div class="entities">
      <a href="instructors.html">View/Delete Instructors</a><br />
      <a href="add_instructors.html">Add New Instructors</a><br />
      <br />
    </div>
    <div class="entities">
      <a href="campuses.html">View/Delete Campuses</a><br />
      <a href="add_campuses.html">Add New Campuses</a><br />
    </div>
    <!-- page footer placeholder-->
    <div id="footer"></div>

    <!-- javascript -->
    <script src="../static/header.js"></script>
    <script src="../static/nav.js"></script>
    <script src="../static/footer.js"></script>
  </body>
</html>
