<!DOCTYPE html>
<html>

<head>
    <title>AH University - List instructors, Add new instructors</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    <!-- Page Header Placeholder-->
    <div id="header"></div>

    <div class="links">
        <ul class="nav">
            <li class="link"><a href="index.html">Home</a></li>
            <li class="link"><a href="students.html">Student Enrollment</a></li>
            <li class="link"><a href="sections.html">Section Registration</a></li>
            <li class="link"><a href="contact.html">Contact Us</a></li>
            <li class="link"><a href="campuses.html">Admin - Campus Management</a></li>
            <li class="link"><a href="courses.html">Admin - Course Management</a></li>
            <li class="link"><a class="active" href="instructors.html">Admin - Instructor Management</a></li>
        </ul>
    </div>

    <!-- Table -->
    <div id="instructors-container">
        <table id="instructors-table">
            <thead>
                <tr>
                    <th>Instructor_ID</th>
                    <th>Instructor_First_Name</th>
                    <th>Instructor_Last_Name</th>
                    <th>Instructor_Campus</th>
                </tr>
            </thead>
            <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item['instructor_id'] }}</td>
                <td>{{ item['instructor_first_name'] }}</td>
                <td>{{ item['instructor_last_name'] }}</td>
                <td>{{ item['campus_id'] }}</td>
                <td> <input type='button' name='delete' value='Delete' onclick="window.location='/delete-instructor/{{ item['instructor_id'] }}'"</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

        <!-- Form (Add Instructor) -->
        <div class="forms">
            <form method="post">
                <fieldset>
                    <legend>Add a New Instructor</legend>
                    <label>First Name:
                        <input type="text" name="first_name" id="first_name">
                    </label>
                    <label>Last Name:
                        <input type="text" name="last_name" id="last_name">
                    </label>
                    <label>Choose a campus:</label>
                    <input type="radio" name="campus" id="campus_corvallis" value="Corvallis">
                    <label for="campus_corvallis">Corvallis</label>
                    <input type="radio" name="campus" id="campus_davis" value="Davis">
                    <label for="campus_davis">Davis</label>
                    <input type="radio" name="campus" id="campus_washington" value="Washington">
                    <label for="campus_washington">Washington</label>
                    <br>
                    <input type="submit" id="instructor_post">
                    <p>{{ post_message }}</p>
                </fieldset>
            </form>
        </div>

        <!-- Page Footer Placeholder-->
        <div id="footer"></div>

        <!-- Javascript -->
        <script src="../static/header.js"></script>
        <script src="../static/footer.js"></script>

</body>

</html>