<!DOCTYPE html>
<html>

<head>
    <title>AH University - Manage Instructors</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    <!-- Page Header Placeholder-->
    <div id="header"></div>

    <!-- navbar placeholder-->
    <div id="navbar"></div>

    <h3>View/Delete Instructors</h3>

    <!-- Table -->
    <div id="instructors-container">
        <table id="instructors-table">
            <thead>
                <tr>
                    <th>Instructor ID</th>
                    <th>Instructor First Name</th>
                    <th>Instructor Last Name</th>
                    <th>Campus ID</th>
                    <th>Campus Name</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item['instructor_id'] }}</td>
                    <td>{{ item['instructor_first_name'] }}</td>
                    <td>{{ item['instructor_last_name'] }}</td>
                    <td>{{ item['campus_id'] }}</td>
                    <td>{{ item['campus_name'] }}</td>
                    <td> <input type='button' name='delete' value='Delete'
                            onclick="window.location='/delete-instructor/{{ item['instructor_id'] }}'" </td> 
                </tr>
                {% endfor %} 
            </tbody> 
        </table> 
    </div> 
                            
    <!-- Page Footer Placeholder-->
    <div id="footer"></div>

    <!-- Javascript -->
    <script src="../static/header.js"></script>
    <script src="../static/nav.js"></script>
    <script src="../static/footer.js"></script>

</body>

</html>
