<!DOCTYPE html>
<html>

<head>
    <title>AH University - List sections, Register for sections</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    <!-- page header placeholder-->
    <div id="header"></div>

    <div class="links">
        <ul class="nav">
            <li class="link"><a href="index.html">Home</a></li>
            <li class="link"><a href="students.html">Student Enrollment</a></li>
            <li class="link"><a class="active" href="sections.html">Section Registration</a></li>
            <li class="link"><a href="contact.html">Contact Us</a></li>
            <li class="link"><a href="campuses.html">Admin - Campus Management</a></li>
            <li class="link"><a href="courses.html">Admin - Course Management</a></li>
            <li class="link"><a href="instructors.html">Admin - Instructor Management</a></li>
        </ul>
    </div>

    <!-- sections table -->
    <div class="bodyContainer">
        <div id="sectionsContainer">
            <h3>Sections - List sections, Register for sections</h3>
            <table id="sectionsTable">
                <thead>
                    <tr>
                        <th>Section ID</th>
                        <th>Course Name</th>
                        <th>Instructor</th>
                        <th>Campus</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody id="sectionsTableBody">
                    <!-- temporary hard coded sample data -->
                    <tr>
                        <td>1</td>
                        <td>Introduction to Computer Science</td>
                        <td>Tommy Pickles</td>
                        <td>Corvallis</td>
                        <td>Online</td>
                        <td><a href="section_register.html"><input type="button" value="Register"></a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Introduction to Computer Science</td>
                        <td>Kimi Finster</td>
                        <td>Davis</td>
                        <td>On-campus</td>
                        <td><a href="section_register.html"><input type="button" value="Register"></a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Introduction to Databases</td>
                        <td>Edwin Deville</td>
                        <td>Washington</td>
                        <td>Online</td>
                        <td><a href="section_register.html"><input type="button" value="Register"></a></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Software Engineering</td>
                        <td>Angel Carmin</td>
                        <td>Washington</td>
                        <td>Online</td>
                        <td><a href="section_register.html"><input type="button" value="Register"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- page footer placeholder-->
    <div id="footer"></div>

    <!-- javascript -->
    <script src="../static/header.js"></script>
    <script src="../static/footer.js"></script>

</body>

</html>
