<!DOCTYPE html>
<html>

<head>
    <title>AH University - Register for sections</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    <!-- page header placeholder-->
    <div id="header">
        <a href="../index.html"><img class="logo" src="../static/img/logo.png"></a>
    </div>

    <div class="links">
        <ul class="nav">
            <li class="link"><a href="../index.html">Home</a></li>
            <li class="link"><a href="../students.html">Student Enrollment</a></li>
            <li class="link"><a class="active" href="../sections.html">Section Registration</a></li>
            <li class="link"><a href="../contact.html">Contact Us</a></li>
            <li class="link"><a href="../campuses.html">Admin - Campus Management</a></li>
            <li class="link"><a href="../courses.html">Admin - Course Management</a></li>
            <li class="link"><a href="../instructors.html">Admin - Instructor Management</a></li>
        </ul>
    </div>

    <!-- Table -->
    <div id="section-register-container">
        <table id="section-register-table">
            <thead>
                <tr>
                    <th>Section ID</th>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Instructor ID</th>
                    <th>Instructor Name</th>
                    <th>Campus ID</th>
                    <th>Campus Name</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item['section_id'] }}</td>
                    <td>{{ item['course_id'] }}</td>
                    <td>{{ item['course_name'] }}</td>
                    <td>{{ item['instructor_id'] }}</td>
                    <td>{{ item['instructor_name'] }}</td>
                    <td>{{ item['campus_id'] }}</td>
                    <td>{{ item['campus_name'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Form (Register Section) -->
    <div class="section-register-forms">
        <form method="post">
            <fieldset>
                <legend>Register for sections</legend>
                <label>First Name:</label>
                    <input type="text" name="first_name" id="first_name"></br>
                <label>Last Name:</label>
                    <input type="text" name="last_name" id="last_name"></br>
                <label>Student ID:</label>
                    <input type="text" name="student_id" id="student_id"></br>
                <input type="submit" id="section_post">
                {{ post_message }}
            </fieldset>
        </form>
    </div>

    <!-- page footer placeholder-->
    <div id="footer"></div>

    <!-- javascript -->
    <script src="../static/footer.js"></script>

</body>

</html>
