<!DOCTYPE html>
<html>

<head>
    <title>AH University</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>

    <div id="header"></div>

      <div class="links">
        <ul class="nav">
            <li class="link"><a href="index.html">Home</a></li>
            <li class="link"><a class="active" href="students.html">Student Enrollment</a></li>
            <li class="link"><a href="sections.html">Section Registration</a></li>
            <li class="link"><a href="contact.html">Contact Us</a></li>
            <li class="link"><a href="campuses.html">Admin - Campus Management</a></li>
            <li class="link"><a href="courses.html">Admin - Course Management</a></li>
            <li class="link"><a href="instructors.html">Admin - Instructor Management</a></li>
        </ul>
    </div>

    <div class="forms">
        <form method="post">
            <fieldset>
                <legend>Enroll in a Campus</legend>
                    <label>First Name:
                        <input type="text" name="first_name" id="first_name">
                    </label>
                    <label>Last Name:
                        <input type="text" name="last_name" id="last_name">
                    </label>
                    <label>Choose a campus:</label>
                    {% for campus in campuses %}
                    {% set name = campus.campus_name %}
                    <input type="radio" name="campus" id="campus_"+{{name}} value={{name}} required>
                    <label for="campus_"+{{name}}>{{name}}</label>
                    {% endfor %}
                <br>
                <input type="submit" id="student_post">
                <p>{{ post_message }}</p>
                <p>{{ delete_message }}</p>
            </fieldset>
        </form>
    </div>

    <div class="students-container">
        <table id="students-table">
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Student First Name</th>
                    <th>Student Last Name</th>
                    <th>Campus ID</th>
                    <th>Campus Name</th>
                </tr>
            </thead>
            <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student['student_id'] }}</td>
                <td>{{ student['student_first_name'] }}</td>
                <td>{{ student['student_last_name'] }}</td>
                <td>{{ student['campus_id'] }}</td>
                <td>{{ student['campus_name'] }}</td>
                <td> <input type='button' name='delete' value='Delete' 
                    onclick="window.location='/delete-student/{{ student['student_id'] }}'"</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="info">
        {% for item in items %}
        <div class="info_column">
            <h2>{{item.campus_name}}</h2>
            <img src='../static/img/campus/{{ images[loop.index0] }}' width=90%>
            <h3>{{item.campus_city}}</h3>
            <h3>{{item.campus_country}}</h3>
            {% if item.campus_online == 1 %}
            <h4>E-Campus</h4>
            {% else %}
            <h4>In-Person Campus</h4>
            {% endif %}
            <p>Current Student Enrollment: </p>
            {% if loop.index0 >= count|length %}
            {{ 0 }}
            {% else %}
            {{ count[loop.index0].count }}
            {% endif %}
            <P>Courses Offered: </P>
            <div id="courses_campuses-container">
                <table id="courses_campuses-container">
                    <thead>
                        <tr>
                            <th>Campus ID</th>
                            <th>Campus Name</th>
                            <th>Course ID</th>
                            <th>Course Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in courses %}
                        <tr>
                            {% if course.campus_name == item.campus_name %}
                            <td>{{course.campus_id}}</td>
                            <td>{{course.campus_name}}</td>
                            <td>{{course.course_id}}</td>
                            <td>{{course.course_name}}</td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Page Footer Placeholder-->
    <div id="footer"></div>

    <!-- Javascript -->
    <script src="../static/header.js"></script>
    <script src="../static/footer.js"></script>

</body>

</html>