<!DOCTYPE html>
<html>

<head>
    <title>AH University - Manage Students</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    <!-- Page Header Placeholder-->
    <div id="header"></div>
        
    <!-- navbar placeholder -->
    <div id="navbar"></div>

    <h3>View/Delete Students</h3>

    <div class="students-container">
        <table id="students-table">
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Student First Name</th>
                    <th>Student Last Name</th>
                    <th>Campus ID</th>
                    <th>Campus Name</th>
                </tr>
            </thead>
            <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student['student_id'] }}</td>
                <td>{{ student['student_first_name'] }}</td>
                <td>{{ student['student_last_name'] }}</td>
                <td>{{ student['campus_id'] }}</td>
                <td>{{ student['campus_name'] }}</td>
                <td> <input type='button' name='delete' value='Delete' 
                    onclick="window.location='/delete-student/{{ student['student_id'] }}'"</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>{{ delete_message }}</p>
    </div>

    <!-- Page Footer Placeholder-->
    <div id="footer"></div>

    <!-- Javascript -->
    <script src="../static/header.js"></script>
    <script src="../static/nav.js"></script>
    <script src="../static/footer.js"></script>

</body>

</html>
